<!doctype html>
<html lang="en">
  <head>
    {{> metas }}
    <title>Results</title>
  </head>
  <body>
    <div class="page">
        <div class="weather-card">
            <h2>You searched for </h2>
            <h1>{{ formattedAddress }}</h1>
            <h2>The current temperature is </h2>
            <h1>{{ temp }}&#8457;</h1>
            <h2>it feels like</h2>
            <h1>{{ apparentTemp }}&#8457;</h1>
            <h2>Today you can expect</h2>
            <h1>{{ hourlySummary }}</h1>
            <h2>This week you can expect</h2>
            <h1>{{ dailySummary }}</h1>
        </div>
        <div class="lookup">
            <form action="/" method="POST">
                <label>
                    <input class="address-input" type="text" name="lookupAddress" placeholder="Enter an Address" autocomplete="no">
                    <input class="weather-submit" type="submit" value="Submit">
                </label>
            </form>
        </div>
    </div>
  </body>
</html>